In [1]:
import random
import pickle

import numpy as np
import pandas as pd
from nltk.tokenize import RegexpTokenizer

In [2]:
test_df_4000 = pd.read_csv(".//Data/4000/4000-stories-VAD.csv")

In [3]:
test_df_4000.head(1)

,url,length,title,text_no,author,story,valence,arousal,dominance,text_id,...,290,291,292,293,294,295,296,297,298,299
0,https://americanliterature.com/author/eleanor-...,15044,"Peace on Earth, Good-Will to Dogs",0,Eleanor Hallowell Abbott,"PART I\n\nIf you don't like Christmas stories,...",0.592896,0.397839,0.569567,0_eleanor-hallowell-abbott-peace-on-earth-good...,...,3.793141,3.837345,3.778354,-0.815515,-0.72044,-10.738245,-8.765683,0.875089,-10.176691,1.736791

In [4]:
test_df_4000.keys()

Index(['url', 'length', 'title', 'text_no', 'author', 'story', 'valence',
       'arousal', 'dominance', 'text_id',
       ...
       '290', '291', '292', '293', '294', '295', '296', '297', '298', '299'],
      dtype='object', length=317)

In [5]:
test_df_books = pd.read_csv(".//Data/2/db_books.csv")

In [6]:
test_df_books

,bookno,Title,Author,Language
0,51082.txt,Coming Attraction,Fritz Leiber,English
1,32243.txt,Confidence Game,James McKimmey,English
2,306-0.txt,"The Early Short Fiction of Edith Wharton, Par...",Edith Wharton,English
3,31038.txt,The Real Hard Sell,William W Stuart,English
4,28636-8.txt,The Grey Woman and other Tales,Mrs. (Elizabeth) Gaskell,English
...,...,...,...,...
997,29487.txt,Forever,Robert Sheckley,English
998,56527-0.txt,In a Quiet Village,Sabine Baring-Gould,English
999,31218-8.txt,Flten und Dolche,Heinrich Mann,German
1000,33839.txt,Problem on Balak,Roger D. Aycock,English
1001,59376.txt,The Patriot,Charles L. Fontenay,English

In [7]:
test_df_stories = pd.read_csv(".//Data/2/stories.csv")

In [8]:
test_df_stories

           bookno                                            content
0       51082.txt  *** START OF THIS PROJECT GUTENBERG EBOOK COMI...
1       32243.txt  *** START OF THIS PROJECT GUTENBERG EBOOK CONF...
2       306-0.txt  *** START OF THIS PROJECT GUTENBERG EBOOK EARL...
3       31038.txt  *** START OF THIS PROJECT GUTENBERG EBOOK THE ...
4     28636-8.txt  *** START OF THIS PROJECT GUTENBERG EBOOK THE ...
...           ...                                                ...
997     29487.txt  *** START OF THIS PROJECT GUTENBERG EBOOK FORE...
998   56527-0.txt  *** START OF THIS PROJECT GUTENBERG EBOOK IN A...
999   31218-8.txt  *** START OF THIS PROJECT GUTENBERG EBOOK FLTE...
1000    33839.txt  *** START OF THIS PROJECT GUTENBERG EBOOK PROB...
1001    59376.txt  *** START OF THIS PROJECT GUTENBERG EBOOK THE ...

[1002 rows x 2 columns]

In [9]:
import numpy as np
from keras.preprocessing.text import Tokenizer
from keras.utils import pad_sequences

In [10]:

# Texte aus den Spalten 'title' und 'story' kombinieren
text = test_df_4000['title'] + " " + test_df_4000['story']

# Tokenizer erstellen und Texte darauf anwenden
tokenizer = Tokenizer()
tokenizer.fit_on_texts(text)
sequences = tokenizer.texts_to_sequences(text)

# Maximaler Längenwert für die Sequenzen
max_len = 100

In [11]:

# Vorhersagesequenzen erstellen
predictors_title = []
predictors_last_words = []
labels = []
b=0
for seq in sequences:
    print (b, end="\r")
    b+=1
    for i in range(1, len(seq)):
        # Vorhersage für das nächste Wort basierend auf dem Titel
        predictors_title.append(seq[:i])
        labels.append(seq[i])
        
        # Vorhersage für das nächste Wort basierend auf den letzten Wörtern
        if i < max_len:
            predictors_last_words.append(seq[max(0, i-max_len):i])
        else:
            predictors_last_words.append(seq[i-max_len:i])

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "D:\Programme\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Marce\AppData\Local\Temp\ipykernel_27424\3179358249.py", line 11, in <module>
    predictors_title.append(seq[:i])
MemoryError

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "D:\Programme\Anaconda\lib\site-packages\executing\executing.py", line 317, in executing
    args = executing_cache[key]
KeyError: (<code object run_code at 0x0000020D9B18EA20, file "D:\Programme\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 3424>, 2257459931680, 76)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "D:\Programme\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "D:\Programme\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "D:\Programme\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "D:\Programme\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "D:\Programme\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 799, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "D:\Programme\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 854, in get_records
    return list(stack_data.FrameInfo.stack_data(etb, options=options))[tb_offset:]
  File "D:\Programme\Anaconda\lib\site-packages\stack_data\core.py", line 565, in stack_data
    yield from collapse_repeated(
  File "D:\Programme\Anaconda\lib\site-packages\stack_data\utils.py", line 84, in collapse_repeated
    yield from map(mapper, original_group)
  File "D:\Programme\Anaconda\lib\site-packages\stack_data\core.py", line 555, in mapper
    return cls(f, options)
  File "D:\Programme\Anaconda\lib\site-packages\stack_data\core.py", line 520, in __init__
    self.executing = Source.executing(frame_or_tb)
  File "D:\Programme\Anaconda\lib\site-packages\executing\executing.py", line 369, in executing
    args = find(source=cls.for_frame(frame), retry_cache=True)
  File "D:\Programme\Anaconda\lib\site-packages\executing\executing.py", line 252, in for_frame
    return cls.for_filename(frame.f_code.co_filename, frame.f_globals or {}, use_cache)
  File "D:\Programme\Anaconda\lib\site-packages\executing\executing.py", line 270, in for_filename
    result = source_cache[filename] = cls._for_filename_and_lines(filename, lines)
  File "D:\Programme\Anaconda\lib\site-packages\executing\executing.py", line 281, in _for_filename_and_lines
    result = source_cache[(filename, lines)] = cls(filename, lines)
  File "D:\Programme\Anaconda\lib\site-packages\stack_data\core.py", line 79, in __init__
    super(Source, self).__init__(*args, **kwargs)
  File "D:\Programme\Anaconda\lib\site-packages\executing\executing.py", line 228, in __init__
    self.tree = ast.parse(ast_text, filename=filename)
  File "D:\Programme\Anaconda\lib\ast.py", line 50, in parse
    return compile(source, filename, mode, flags,
MemoryError

In [ ]:
# Sequenzen mit Padding versehen
predictors_title = pad_sequences(predictors_title, maxlen=max_len)
predictors_last_words = pad_sequences(predictors_last_words, maxlen=max_len)

# Labels in numpy-Array konvertieren
labels = np.array(labels)

In [ ]:
sequences

In [ ]:
len(sequences[0])

In [ ]:
sequences[0][:i]