In [1]:
import random
import pickle

import numpy as np
import pandas as pd
from nltk.tokenize import RegexpTokenizer

In [2]:
test_df_4000 = pd.read_csv(".//Data/4000/4000-stories-VAD.csv")

In [3]:
test_df_4000.head(1)

,url,length,title,text_no,author,story,valence,arousal,dominance,text_id,...,290,291,292,293,294,295,296,297,298,299
0,https://americanliterature.com/author/eleanor-...,15044,"Peace on Earth, Good-Will to Dogs",0,Eleanor Hallowell Abbott,"PART I\n\nIf you don't like Christmas stories,...",0.592896,0.397839,0.569567,0_eleanor-hallowell-abbott-peace-on-earth-good...,...,3.793141,3.837345,3.778354,-0.815515,-0.72044,-10.738245,-8.765683,0.875089,-10.176691,1.736791

In [4]:
test_df_4000.keys()

Index(['url', 'length', 'title', 'text_no', 'author', 'story', 'valence',
       'arousal', 'dominance', 'text_id',
       ...
       '290', '291', '292', '293', '294', '295', '296', '297', '298', '299'],
      dtype='object', length=317)

In [5]:
test_df_books = pd.read_csv(".//Data/2/db_books.csv")

In [6]:
test_df_books

,bookno,Title,Author,Language
0,51082.txt,Coming Attraction,Fritz Leiber,English
1,32243.txt,Confidence Game,James McKimmey,English
2,306-0.txt,"The Early Short Fiction of Edith Wharton, Par...",Edith Wharton,English
3,31038.txt,The Real Hard Sell,William W Stuart,English
4,28636-8.txt,The Grey Woman and other Tales,Mrs. (Elizabeth) Gaskell,English
...,...,...,...,...
997,29487.txt,Forever,Robert Sheckley,English
998,56527-0.txt,In a Quiet Village,Sabine Baring-Gould,English
999,31218-8.txt,Flten und Dolche,Heinrich Mann,German
1000,33839.txt,Problem on Balak,Roger D. Aycock,English
1001,59376.txt,The Patriot,Charles L. Fontenay,English

In [7]:
test_df_stories = pd.read_csv(".//Data/2/stories.csv")

In [8]:
test_df_stories

           bookno                                            content
0       51082.txt  *** START OF THIS PROJECT GUTENBERG EBOOK COMI...
1       32243.txt  *** START OF THIS PROJECT GUTENBERG EBOOK CONF...
2       306-0.txt  *** START OF THIS PROJECT GUTENBERG EBOOK EARL...
3       31038.txt  *** START OF THIS PROJECT GUTENBERG EBOOK THE ...
4     28636-8.txt  *** START OF THIS PROJECT GUTENBERG EBOOK THE ...
...           ...                                                ...
997     29487.txt  *** START OF THIS PROJECT GUTENBERG EBOOK FORE...
998   56527-0.txt  *** START OF THIS PROJECT GUTENBERG EBOOK IN A...
999   31218-8.txt  *** START OF THIS PROJECT GUTENBERG EBOOK FLTE...
1000    33839.txt  *** START OF THIS PROJECT GUTENBERG EBOOK PROB...
1001    59376.txt  *** START OF THIS PROJECT GUTENBERG EBOOK THE ...

[1002 rows x 2 columns]

In [5]:
import numpy as np
from keras.preprocessing.text import Tokenizer
from keras.utils import pad_sequences

In [6]:

# Texte aus den Spalten 'title' und 'story' kombinieren
text = test_df_4000['title'] + " " + test_df_4000['story']

# Tokenizer erstellen und Texte darauf anwenden
tokenizer = Tokenizer()
tokenizer.fit_on_texts(text)
sequences = tokenizer.texts_to_sequences(text)

# Maximaler Längenwert für die Sequenzen
max_len = 100

In [ ]:

# Vorhersagesequenzen erstellen
predictors_title = []
predictors_last_words = []
labels = []
for seq in sequences:
    for i in range(1, len(seq)):
        # Vorhersage für das nächste Wort basierend auf dem Titel
        predictors_title.append(seq[:i])
        labels.append(seq[i])
        
        # Vorhersage für das nächste Wort basierend auf den letzten Wörtern
        if i < max_len:
            predictors_last_words.append(seq[max(0, i-max_len):i])
        else:
            predictors_last_words.append(seq[i-max_len:i])

In [ ]:
# Sequenzen mit Padding versehen
predictors_title = pad_sequences(predictors_title, maxlen=max_len)
predictors_last_words = pad_sequences(predictors_last_words, maxlen=max_len)

# Labels in numpy-Array konvertieren
labels = np.array(labels)